---
# tasks file for bashrc

- name: Install requirements
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - "{{ bashrc_packages }}"
    - "{{ bashrc_additional_packages }}"

- name: Create include bashrc scripts
  copy:
    src: bashrc.d/
    dest: /root/.bashrc.d
    owner: root
    group: root
    mode: 0700

- name: Create root .bashrc
  copy:
    src: bashrc
    dest: /root/.bashrc
    owner: root
    group: root
    mode: 0600

- name: Configure bashrc scripts
  template:
    src: "{{ item }}"
    dest: "/root/.bashrc.d/{{ item | basename | replace('.j2', '') }}"
    owner: root
    group: root
    mode: 0600
  with_items:
    - "{{ bashrc_scripts }}"
